@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";


                                          //////
                                         //     B U T T O N S
                                        //////

.btn__purple {
  @include button__rounded;
  color: $color__general--white;
  background-color: $color__primary--purple-light;
  text-transform: capitalize;

  &--buyNow {
    @extend .btn__purple;
    padding: 9px 24px;
    font: 15px $font-primary-bold;
    width: 119px;
    height: 37px;

    @media (min-width: $tablet) {                   // Buy Now -- MEDIA -- Tablet
      width: 145px;
      height: 38px;
    }

    @media (min-width: $desktop) {                  // Buy Now -- MEDIA -- Tablet
      right: 90px;
    }
  }

  &--downloadNow {
    @extend .btn__purple;
    width: 290px;
    height: 45px;
    font: 18px $font-primary-bold;

    &:hover {                                             // Download Now -- HOVER
      color: $color__primary--purple-light;
      background-color: $color__general--white;
    }

    @media (min-width: $tablet) {                         // Download Now -- MEDIA -- Tablet
      width: 390px;
      height: 62px;
      font-size: 15px;
    }

    @media (min-width: $desktop) {                        // Download Now -- MEDIA -- Tablet
    }
  }
}

.btn__purchase {
  @include button__rounded;
  width: 160px;
  height: 42px;
  color: $color__general--white;
  text-transform: uppercase;
  background-color: #776b79;
  outline: 0;
  transition: 0.6s;

  &--cardActive {                                   // Purchase  -- STATE -- active
    width: 190px;
    height: 52px;
    background-color: #5d5160;
  }

  &:hover {                                          // Purchase  -- HOVER
    color: #7f6d78;
    background-color: #c8c3c8;
  }
}