@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

.nav__logo {
  @include flex-between;
  position: relative;
  align-items: center;
  float: left;

  &__image {
    width: 43px;
    height: 41px;

    &--white {
      display: none;
    }
  }

  &__text {
    display: none;
    margin-left: 17px;
    font: 24px $font-primary-bold;
    color: $color__primary--purple-light;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  &:hover .nav__logo__image {
    display: none;
  }

  &:hover .nav__logo__image--white {
    display: flex;
  }

  &:hover .nav__logo__text {
    color: $color__general--white;
  }
}


.logo__smashing__image {
  width: 165px;
  height: 43px;
}

.logo__codrops__image {
  width: 148px;
  height: 50px;
}

.logo__w__image {
  width: 50px;
  height: 51px;
}

.logo__pixel-buddha__image {
  width: 225px;
  height: 24px;
}

.logo__creative-blog__image {
  width: 166px;
  height: 34px;
}

.logo__tnw__image {
  width: 108px;
  height: 34px;
}