@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";
@import "src/scss/0-tools__&__global/typography";


                                          /////
                                         //     L O G O S
                                        /////

.nav__logo {
  @include flex-between;
  position: relative;
  align-items: center;
  float: left;

  &__image {
    width: 43px;
    height: 41px;

    &--white {
      display: none;
    }
  }

  &__text {
    display: none;
    margin-left: 17px;
    font: 24px $font-primary-bold;
    color: $color__primary--purple-light;
    text-transform: uppercase;

    @media (min-width: $tablet) {                      // NAV_LOGO -- MEDIA -- Tablet
      display: flex;
    }
  }

  &:hover .nav__logo__image {                          // NAV_LOGO -- HOVER -- Hide
    display: none;
  }

  &:hover .nav__logo__image--white {                   // NAV_LOGO -- HOVER -- show
    display: flex;
  }

  &:hover .nav__logo__text {                           // change text color
    color: $color__general--white;
  }
}


.logo__smashing__image {
  width: 165px;
  height: 43px;
  padding-bottom: 37px;
}

.logo__codrops__image {
  width: 148px;
  height: 50px;
  padding-bottom: 33px;
}

.logo__w__image {
  width: 50px;
  height: 51px;
  padding-bottom: 26px;
}

.logo__pixel-buddha {
  width: 225px;
  height: 24px;
  padding-bottom: 37px;
}

.logo__creative-blog {
  width: 166px;
  height: 34px;
  padding-bottom: 32px;
}

.logo__tnw__image {
  width: 108px;
  height: 34px;
  padding-bottom: 32px;
}
