@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

                                          /////
                                         //     H A M B U R G E R - D R O P D O W N
                                        //////

.icn__hamburger--dropdown {
  @include flex;

  .line1, .line2, .line3 {
    position: relative;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    border-radius: 30px;
    background-color: $color__general--white;
    opacity: 1.0;
    transition: all .3s;
  }

  .line1 {
    left: 7px;
    width: 18px;

    &.active {
      top: 5px;
      transform: rotate(270deg);
      opacity: 0.0;
      background-color: #ffff00;
    }
  }

  .line2.active {
    transform: rotate(45deg);
    background-color: #ffff00;
  }

  .line3.active {
    top: -7px;
    transform: rotate(-45deg);
    background-color: #ffff00;
  }

  #closeBtn {
    @include flex-column;
    color: $color__general--white;
    right: 0;
    width: 25px;
    height: 25px;
    text-decoration: none;
    z-index: 100;
    cursor: pointer;
  }



  .dropdown-content {                                         // DROPDOWN CONTENT
    display: none;
    position: absolute;
    top: 103px;
    right: 1%;
    min-width: 300px;
    margin-right: 2%;
    margin-left: 2%;
    overflow: auto;
    background-color: #333333;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

    &__links {
      @include flex;
      padding: 12px 32px;
      font: 25px $font-primary-regular;

      &__container {
        @include flex;
        flex-wrap: nowrap;
        color: $color__general--white;
        width: 270px;
        height: 78px;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        border-bottom: 1px solid #3b3b3b;

        &:hover .dropdown-content__links__sideBox--purple {         // DROPDOWN CONTENT -- HOVER
          visibility: visible;
        }
      }

      &:hover {                                                     // DROPDOWN CONTENT -- HOVER
        color: $color__primary--purple-light;
      }

      &__sideBox--purple {
        visibility: hidden;
        width: 8px;
        height: 53px;
        background-color: $color__primary--purple-light;
      }
    }
  }

  .show {
    @include flex-column;
  }
}