//******************
//    Font: MONTSERRAT
//******************

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/dist/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/dist/fonts/Montserrat-Bold.ttf");
}

//******************
//    Font: LATO
//******************

@font-face {
  font-family: 'Lato-Regular';
  src: url("/dist/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url("/dist/fonts/Lato-BoldItalic.ttf");
}