//******************
//    DISPLAY: FLEX
//******************
@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
}

@mixin flex-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-around {
  @include flex;
  justify-content: space-around;
}

@mixin flex-even {
  @include flex;
  justify-content: space-evenly;
}

@mixin flex-column {
  flex-direction: column;
}


//******************
//    BUTTONS
//******************

@mixin button__rounded {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

