$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;

$color__general--white: #ffffff;

$color__primary--purple-light: #8d81ac;
$color__primary--purple-dark: #635C73;

$color__letters--gray-light: #848E97;
$color__letters--gray-dark: #848e97;


$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
