@import "src/scss/variables";

@font-face {
  font-family: $font-primary;
}

@font-face {
  font-family: $font-secondary;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

a {
  color: $color__general--white;
  text-decoration: none;
  cursor: pointer;
}

.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: $font-primary;
  perspective: 700px;
  background: #27262a;
}