@import "src/scss/variables";

@font-face {
  font-family: $font-primary;
}

@font-face {
  font-family: $font-secondary;
}


* {
  box-sizing: border-box;
  transform-style: preserve-3d;
}

a {
  color: $color__general--white;
  text-decoration: none;
  cursor: pointer;
}

.body {
  height: 100vh;
  font-family: $font-primary;
  justify-content: center;
  perspective: 700px;
  background: #27262a;
}

.main {
  margin: 0 auto;

  @media (min-width: $mobile) {
    min-width: 320px;
    max-width: 480px;
  }

  @media (min-width: $tablet) {
    min-width: 481px;
    max-width: 1200px;
  }

  @media (min-width: $desktop) {
    min-width: 481px;
    max-width: 1200px;
  }
}