@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

//*************************
//    GLOBAL STYLING RULES
//*************************

html {
  box-sizing: border-box;
}

**:before *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}


//******************
//    LINKS
//******************

a {
  color: $color__general--white;
  text-decoration: none;
  cursor: pointer;
}
