@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

//*************************
//    GLOBAL STYLING RULES
//*************************

html {
  box-sizing: border-box;
}

**:before *:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  height: 100vh;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

//******************
//    LINKS
//******************

a {
  color: $color__general--white;
  text-decoration: none;
  cursor: pointer;
}