@import "src/scss/1-partials/variables";

//******************
//    GLOBAL
//******************
html {
  box-sizing: border-box;
  background-color: $color__general--white;
}

**:before *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.container {
  overflow: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


//******************
//    LINKS
//******************
a {
  color: $color__general--white;
  text-decoration: none;
  cursor: pointer;
}
