@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

                                  //   S E C T I O N  -- N A V  &  M A I N / D R O P  M E N U

.nav {
  @include flex-between;
  height: 103px;
  flex-wrap: wrap;
  background-color: #27262a;
  text-transform: capitalize;
  align-items: center;

  &__menu {
    display: none;
  }

  @media screen and (min-width: $mobile) {                      // NAV__MENU -- MEDIA -- Mobile
    padding: 0 16px;
  }

  @media screen and (min-width: $tablet) {                      // NAV__MENU -- MEDIA -- Tablet

    .icn__hamburger--dropdown {
      display: none;
    }

    .btn__purple--buyNow {
    }

    &__menu {
      @include flex-between;
      margin-left: 80px;


      &__links {
        display: flex;

        margin-left: 35px;
        font: 17px $font-primary-bold;
        color: $color__primary--purple-light;

        &:hover {                                              // NAV__MENU__LINKS -- HOVER
          color: $color__general--white;
        }
      }
    }
  }


  @media screen and (min-width: $desktop) {                    // NAV__MENU -- MEDIA -- Desktop
    &__flex-container {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      padding: 0 90px;

      .nav__flex-item:nth-of-type(1) { order: 1; }
      .nav__flex-item:nth-of-type(2) { order: 3; }
      .nav__flex-item:nth-of-type(3) { order: 2; }
    }
  }
}