@import "src/scss/0-tools__&__global/typography";
@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";
@import "src/scss/2-components/logos";
@import "src/scss/2-components/buttons";
@import "src/scss/2-components/menu__hamburger--dropdown";
@import "src/scss/3-sections/0__body";

.nav {
  @include flex-between;
  height: 103px;
  flex-wrap: wrap;
  background-color: #27262a;
  text-transform: capitalize;
  align-items: center;

  &__menu {
    display: none;
  }

  @media screen and (min-width: $mobile) {
    padding: 0 16px;
  }

  ////******************
  ////  MEDIA: TABLET
  ////******************
  @media screen and (min-width: $tablet) {

    .icn__hamburger--dropdown {
      display: none;
    }

    .btn__purple--buyNow {;
    }

    &__menu {
      @include flex-between;
      margin-left: 80px;


      &__links {
        display: flex;

        margin-left: 35px;
        font: 17px $font-primary-bold;
        color: $color__primary--purple-light;

        &:hover {
          color: $color__general--white;
        }
      }
    }
  }

  ////******************
  ////  MEDIA: DESKTOP
  ////******************
  @media screen and (min-width: $desktop) {
    &__flex-container {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      padding: 0 90px;

      .nav__flex-item:nth-of-type(1) { order: 1; }
      .nav__flex-item:nth-of-type(2) { order: 3; }
      .nav__flex-item:nth-of-type(3) { order: 2; }
    }
  }
}