@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

                                  //   S E C T I O N  -- N A V  &  M A I N / D R O P  M E N U

.nav {
  @include flex;
  @include center_-_align;
  min-height: 103px;
  text-transform: capitalize;
  background-color: $color__background__navbar;

  &__flex-container {
    @include flex-around;
    width: 100%;

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        @include flex-between;
        padding: 0 90px;

        .nav__flex-item:nth-of-type(1) { order: 1; }
        .nav__flex-item:nth-of-type(2) { order: 3; }
        .nav__flex-item:nth-of-type(3) { order: 2; }
    }
  }

  &__flex-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 16px $font-primary-bold;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      display: flex;
      margin-top: 20px;
      margin-right: 20px;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      margin-left: 100px;
    }
  }

  @media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
    height: 118px;

    .icn__hamburger--dropdown {
      display: none;
    }

    &__menu {
      @include flex-between;
      align-items: center;

      &__links {
        display: flex;

        margin-left: 35px;
        font: 17px $font-primary-bold;
        color: $color__primary--purple-light;

        &:hover {
          color: $color__general--white;
        }
      }
    }
  }
}