@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";
@import "src/scss/2-components/widgets";

.section__product-description {
  @include flex-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 35px;

  &__offer {
    font: 15px $font-primary-regular;
    color: #848e97;
    text-transform: capitalize;
    @media (min-width: $tablet) {
      margin-top: 12px;
      padding-bottom: 94px;
    }
    @media (min-width: $desktop) {
      padding: 0;
    }
  }

  &__title {
    @include flex-center;
    width: 236px;
    height: 60px;
    padding-top: 72px;
    font: 25px $font-primary-bold;
    color: $color__primary--purple-dark;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet) {
      width: 558px;
      height: 31px;
      font-size: 40px;
      padding-top: 0;
      padding-bottom: 38px;
    }

    @media (min-width: $desktop) {
      width: 718px;
      height: 40px;
      font-size: 50px;
      padding-top: 67px;
      margin: 0;
    }
  }

  &__text {
    width: 266px;
    height: 74px;
    font: 13px $font-secondary-regular;
    color: #323232;
    padding-top: 23px;
    margin-bottom: 34px;
    text-align: center;
    line-height: 19px;
    
    @media (min-width: $tablet) {
      width: 669px;
      height: 52px;
      font-size: 20px;
      margin-bottom: 36px;
      padding-top: 0;
    }
    
    @media (min-width: $desktop) {
      width: 913px;
    }
  }

  &__widgets {
    @include flex-around;
    width: 252px;
    height: 70px;
    margin-bottom: 88px;

    @media screen and (min-width: $tablet) {
      flex-wrap: nowrap;
      width: 365px;
      height: 26px;
      justify-content: center;
      margin-bottom: 98px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 70px;
    }
  }
}