@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";


                          //   S E C T I O N  -- P R O D U C T  D E S C R I P T I O N

.section__product-description {
  @include flex-column;
  @include center_-_align_-_text;
  margin-top: 35px;

  &__offer {
    font: 15px $font-primary-regular;
    color: #848e97;
    text-transform: capitalize;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      margin-top: 12px;
      padding-bottom: 94px;
    }

    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      padding: 0;
    }
  }

  &__title {
    @include flex-center;
    width: 236px;
    height: 60px;
    padding-top: 72px;
    font: 25px $font-primary-bold;
    color: $color__primary--purple-dark;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 558px;
      font-size: 40px;
      padding-top: 0;
      padding-bottom: 38px;
    }

    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      width: 728px;
      font-size: 54px;
      padding-top: 67px;
      margin: 0;
    }
  }


  &__text {
    width: 266px;
    height: 74px;
    font: 13px $font-secondary-regular;
    color: #323232;
    padding-top: 23px;
    margin-bottom: 34px;
    text-align: center;
    line-height: 19px;
    
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 669px;
      height: 52px;
      font-size: 20px;
      margin-bottom: 36px;
      padding-top: 0;
    }
    
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      font-size: 19px;
      width: 913px;
      letter-spacing: +0.7px;
    }
  }

  &__widgets {
    @include flex-around;
    width: 252px;
    height: 70px;
    margin-bottom: 88px;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      flex-wrap: nowrap;
      width: 365px;
      height: 26px;
      justify-content: center;
      margin-bottom: 98px;
    }
    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}