@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";


                                    //   S E C T I O N  -- O F F E R

.section__offer {
  @include flex-column;
  @include center_-_align_-_text;

  @media screen and (max-width: 997px) {
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1200px;
    width: 40%;
    margin-bottom: 40px;
  }

  &__sectionTitle {
    width: 237px;
    margin-bottom: 34px;
    font: 32px $font-primary-bold;
    color: $color__primary--purple-light;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 501px;
      height: 41px;
      font: 40px $font-primary-bold;
      margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      position: relative;
      width: 571px;
      left: 580px;
      bottom: 20px;
      height: 46px;
      font-size: 46px;
    }
  }

  &__mainContainer {
    @include flex-column;
    max-width: 700px;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      position: relative;
      width: 100%;
      margin-left: 12px;
      text-align: left;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      width: 84%;
    }
  }

  &__item {
    padding-bottom: 37px;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      @include flex;
      height: 65px;
      margin-bottom: 34px;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      position: relative;
      text-align: left;
      justify-content: center;
    }

      &__img {
      margin-bottom: 25px;

      @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        position: absolute;
        justify-content: space-around;
        flex: 0 0 0 134px;
      }
      @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        width: 50%;
        margin: 0;
      }
    }

    &__text {
      @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        position: absolute;
        margin-left: 124px;
      }

      @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        width: 350px;
      }
    }

    &__title {
      font: 15px $font-primary-regular;
      font-weight: 600;
      padding-bottom: 18px;

      @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
        font-size: 15px;
      }

      @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        position: absolute;
        top: -16px;
        padding-bottom: 7px;
        font: 15px $font-primary-regular;
        font-weight: 600;
        padding-left: 120px;
      }
    }

    &__article {
      width: 270px;
      font: 13px $font-secondary-regular;
      line-height: 19px;

      @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        width: 567px;
      }

      @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        position: absolute;
        left: 60px;
        width: 346px;
        font: 14px $font-primary-regular;
        padding-left: 60px;
        top: 12px;
      }
    }
  }

  &__sideImage__container {
    position: relative;
    left: 1%;
    max-width: 320px;
    padding: 0 50px 380px 270px;
    background-image: url("/dist/images--optimized/bg/bg__sectOffer__IDE--side.png");
    background-repeat: no-repeat;
    background-size: 700px;

    @media screen  and (min-width: $tablet-min) and (max-width: $tablet-max) {
      max-width: 977px;
      padding: 0 518px 519px 250px;
      margin-bottom: 30px;
      background-size: 980px;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      position: absolute;
      left: 46%;
      padding: 120px 660px 347px 0;
      background-image: url("/dist/images--optimized/bg/bg__sectOffer__IDE--side--desktop.png");
      background-size: 600px;
      background-position: center;
    }
  }
}


#icn1 {
  width: 111px;
  height: 64px;
}

#icn2 {
  width: 90px;
  height: 80px;
}

#icn3 {
  width: 60px;
  height: 84px;
}

#icn4 {
  width: 71px;
  height: 71px;
}