@import "src/scss/1-partials/variables";
@import "src/scss/1-partials/mixins";

.section__pricingPlans {
  @include flex-column;
  @include center_-_align_-_text;
  background-color: $color__background__footer__bottom;

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    background: url("/dist/images--optimized/bg/bg__footer__bottom--viewDesktop.png") no-repeat;
    background-size: cover;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
    @include flex-center;
    width: 100%;
  }


  //////   SECTION TITLE    ////////

  &__sectionTitle {
    padding: 8% 0 5% 0;
    font: 26px $font-primary-bold;
    text-transform: capitalize;
    text-align: center;
    line-height: 40px;
    color: $color__general--white;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: 42px;
    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      font-size: 46px;
      padding-bottom: 12%;
    }
  }



 //////   MAIN CONTAINER    ////////
  &__mainContainer {
    @include flex-column;
    @include center_-_align_-_text;
    width: 80%;
    margin-bottom: 3%;
    color: $color__general--white;

    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
      @include flex-center;
      @include center_-_align_-_text;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;

    }

    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
      @include flex;
      width: 96%;
      justify-content: space-evenly;
      margin-bottom: 8%;
      padding-right: 50px;
    }
  }
}

.btn__purchase {
  width: 62%;
  font: 11px $font-primary-regular;
  padding: 5% 0;
  background: rgba(255,255,255,.15);
}

.btn__purchase__alt {
  bottom: -18px;
}